@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{

}

.container{
    width:100%;
    margin: auto;
    /* border-color:orangered;
    border-style: solid; */
}

.landing-page{
    margin: auto;
    width: 100%;
    height: 100vh;
    background: black;
}

.landing-page-wrapper{
    position: relative;
    margin: auto;
    width: 80%;
    top: 2%;
    padding: 5%;
    display: flex;
}

.header{
    width:50%;
    margin:auto;
}

.header h1{
    margin: auto;
    color:white;
    font-size: 10vw;
    line-height: 1;
    position: relative;
    animation: slideInDown 2s;
}

.header p{
    font-size: 2vw;
    margin: auto;
    color: white;
    position: relative;
    right: -61%;
    animation: fadein 12s;
    line-height: 5;
    z-index: 2;
    /* margin-top: -200px; */
}

.header-image{
    width: 40%;
    /* height: 600px; */
    position: relative;
    margin: auto;
    overflow: hidden;
}

.header-image img{
    width:100%;
    object-fit: contain;
    /* min-height: 50%; */
    animation-name: zoominoutsinglefeatured;
    animation-duration: 4s;  
}

.filters-container{
    position:relative;
    margin:auto;
    width:90%;
    display: flex;
    padding: 1%;
    border: yellow solid;
    /* border-color: brown;
    border-style: dotted; */
}

.search-container{
    margin: auto;
}

.sort-container{
    margin: auto;
}

.price-range-filter-container{
    margin: auto;
}

.product-type-filter-container{
    margin: auto;
}

.carousel-container{
    position: relative;
    margin:auto;
    margin-top:2%;
    margin-bottom: 5%;
    width: 90%;
    min-height: 470px;
    border: yellow solid;
}

@media screen and (max-width: 1024px){
    .carousel-container{
        width: 85%;
    }
}

@media screen and (max-width: 768px){
    .carousel-container{
        width: 80%;
    }
}

.carousel-container .carousel-inner{
    overflow: hidden;
}

.carousel-container .track{
    display: inline-flex;
    transition: transform 0.5s;

}

.carousel-container .card-container{
    padding: 10px;
    width: 260px;
    height: 460px;
    flex-shrink: 0;
    padding-right: 15px;
    box-sizing:border-box;
}

.carousel-container .card-container .card{
    padding: 10px;
    margin: auto;
    width: 100%;
    height: 450px;
    border:1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.nav button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #aaa;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}

.card > * {
    flex: 1;
}

.card .card-image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.card-image img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 10px;
}

.card .card-price{
    flex-basis: 40px;
    background: #333;
    color: #fff;
    flex-grow: 0;
    text-align: center;
    /* padding: 10px; */
    box-sizing: border-box;
}

.card-title{
    padding: 3px;
  
}

.card-title h5{
    font-size: 13px;
}

.card-price p{
    font-size: 16px;
}

.card a{
    flex-basis: 40px;
    flex-grow: 0;
    text-align: center;
    /* padding: 10px; */
    box-sizing: border-box;
}

.nav .prev{
    margin: auto;
    width:50px;
    left: -30px;
    display: none;
}

.nav .prev.show{
    display:block;
}

.nav .next{
    margin: auto;
    width:50px;
    right: -30px;
}

.nav .next.hide{
    display: none;
}



.rangeslider{
    width:300px;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown a:hover {background-color: #ddd;}
  
.show {display: block;}


.popup {
    display: none;
    margin: auto;
    padding: 2%;
    position: absolute; 
    z-index: 1;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    overflow: auto; 
    background-color: white; 
    border-radius: 10px;
    box-shadow: 0 9px 16px 0 rgba(0,0,0,0.2);
    /* display: flex; */
}

.popup-card{
    width: 100%;
    /* height: 400px; */
    display:flex;
}

.popup-image{
    position: relative;
    width: 50%;
    height: 405px;
    margin: auto;
    flex: 0 0 50%
}

.popup-image img{
    width: 100%;
    height: 405px;
    object-fit: fill;
    border-radius: 10px;
    animation: fadein 2s;
}

.popup-info{
    position: relative;
    padding-left: 3%;
    width:50%;
    height: 405px;
    margin: auto;
    animation: fadein 2s;
}

.close {
    position: absolute;
    color: black;
    text-align: right;
    right: 8px;
    top: 2px;
    font-size: 28px;
    font-weight: bold;
    z-index: 2;
}

.close:hover,
.close:focus {
    color: grey;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    .landing-page-wrapper{
        top:20%;
    }

    .popup{
        width:60%;
        /* height: 630px; */
    }

    .popup-card{
        height: 350px;
    }
    .popup-image{
        width: 100%;
        height: 350px;

    }
    .popup-image img{
        width: 100%;
        height: 350px;
    }
    .popup-info{
        width: 97%;
        height: 350px;
    }

}

@media only screen and (max-width: 992px) {
    .landing-page-wrapper{
        top:20%;
    }

    .popup{
        width: 70%;
    }

    .popup-info h1{
        font-size: 24px;
    }
}

@media only screen and (max-width: 768px) {

    .landing-page-wrapper{
        display: inline-block;
        top:5%;
    }

    .landing-page-wrapper{
        width: 90%;
    }

    .header{
        width:90%;
        margin:auto;
        /* text-align: center; */
    }
    
    .header h1{
        top:0;
        color:white;
        font-size: 80px;
    }
    
    .header p{
        font-size: 12px;
        color: white;
        right: 0%;
        animation: fadein 12s;
    }
    
    .header-image{
        top:30px;
        width: 90%;
        height: 300px;
        margin: auto;
        overflow: hidden;
        text-align: center;
    }
    
    .header-image img{
        width:90%;
        height: 400px;
        animation-name: zoominoutsinglefeatured;
        animation-duration: 4s;  
    }

    .popup{
        width:90%;
    }
    .popup-card{
        width: 100%;
    }
    .popup-image{
        width: 100%;
    }
    .popup-image img{
        width: 100%;
    }
    .popup-info{
        width: 97%;
    }
}

@media only screen and (max-width: 540px) {
    .landing-page-wrapper{

        top:5%;
    }
    .header h1{
        top:0;
        color:white;
        font-size: 70px;
    }

    .header-image{
        top:0;
        width: 100%;
        height: 300px;
        margin: auto;
        overflow: hidden;
        text-align: center;
    }

    .popup{
        width:70%;
        height: 550px;
    }

    .popup-card{
        display:inline-block;
        width: 95%;
        height: 500px;
    }

    .popup-image{
        top: 10px;
        left: 10px;
        width: 100%;
        height: 250px;
        margin: auto;
        flex: 0 0 50%
    }
    
    .popup-image img{
        width: 100%;
        height: 250px;
        border-radius: 10px;
        animation: fadein 3s;
    }
    
    .popup-info{
        top: 15px;
        margin: auto;
        padding-left: 3%;
        width:96%;
        height: 225px;
        animation: fadein 2s;
    }
    
    .popup-info h1{
        font-size: 5vw;
    }
    
    .popup-info p{
        font-size: 3vw;
    }
}


@keyframes fadein{
    0% {opacity: 0;}
    50% {opacity: 0.5;} 
	100% {opacity: 1;} 
}

@keyframes slideInDown{
    from {top: -600px;}
    to {top: 0px;}
}

@keyframes zoominoutsinglefeatured{
    0% {
        transform: scale(2,2);
    }
    100% {
        transform: scale(1,1);
    }
}






.MultiCarousel {
     float: left; 
     overflow: hidden; 
     padding: 15px; 
     width: 100%; 
     position:relative; 
    }
/* .MultiCarousel{ 
    Height: 189px;
} */
.MultiCarousel .MultiCarousel-inner { 
    transition: 1s ease all; 
    float: left; 
}
.MultiCarousel .MultiCarousel-inner .item { 
    float: left;
}
.MultiCarousel .MultiCarousel-inner .item > div { 
    text-align: center; 
    padding:10px; 
    margin:10px; 
    background:#f1f1f1; 
    color:#666;
}
.MultiCarousel .leftLst, .MultiCarousel .rightLst { 
    position:absolute; 
    border-radius:50%;
    top:calc(50% - 20px); 
}
.MultiCarousel .leftLst { 
    left:0; width:10%;
}
.MultiCarousel .rightLst { 
    right:0; width:10%
}
    
.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { 
    pointer-events: none; 
    background:#ccc; 
    width:10%; 
}
        